* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-size: 20px;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 700%;
    color:rgb(79, 91, 250);
    text-align: center;
    font-family: monospace;
    margin-top: 6%;
}

h2 {
    font-size: 200%;
    color:rgba(74, 70, 70, 0.48);
    text-align: center;
    font-family: Arial;
}

h3 {
    font-size: 150%;
    color:rgba(74, 70, 70, 0.48);
    font-family: Arial;
}

input {
    display: inline;  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 1px dotted rgba(9, 10, 9, 0.47);
    transform: scale(1.8);
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#timerMinutes, #timerSeconds, h4 {
    font-size: 400%;
    color:rgb(255, 139, 139);
    display: inline;
    font-family: Arial;
}

ul {
    list-style: none;
}

h3, #timeChoseSeconds, #timeChoseMinutes {
    display: inline;
}

input {
    width: 70px;
}

li {
    text-align: center;
    padding: 20px;
}

#submitButton, #resetButton {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    margin-top: 3%;
}

#big-id {
    text-align: center;
}